body {
	background-image: url("kazuma.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0px;
}

header {
	background-color: #6969;	
	color: white;
	padding: 5px 15px 0px 15px;
}

header h1 {
	margin: 0;	
	display: inline;
}

nav ul {
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li {
	background: #6969;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px 5px 20px; <!--Clockwise-->
}

nav ul li a {
	color: white;
}

.divider {
	background: #6969;
	margin: 0;
	padding: 5px 0 0 0;
}

.row {
	clear: both;	
}

.col {
	background: #999;
	border-radius: 5px;
	padding: 10px 0.5%;
	margin: 1%;
	float: left;
	width: 25%;
}

.features {
	background: white;
	color: black;
	padding: 20px;
	display: flex;
	flex-direction:row;
}

.features figure {
	margin: auto;
	text-align: center;
	width: 200px;
}

.features figure img {
	width: 200px;
	/* color x-offset y-offset shadow-width */
	box-shadow: gray 0 0 10px;
	height: 200px;
	border-radius: 50%;
}

p {
	clear: both;
}

footer
{
	clear: both;
}